html {
  scroll-behavior: smooth;
}

body { background-color: #F2F6D0 }

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
nav {
  opacity: .8;
  background-color: olive; 
}

.fa-spinner {
  color: purple;
}

.toast {
  background-color: purple;
  border-radius: 5px;
}

a {
  color: purple;
  font-family: 'Raleway', sans-serif;
  text-shadow: white;
  transition: text-shadow 300ms;
}

a:hover {

  color: rgb(109, 26, 126);
  text-shadow: 1px 1px 3px rgb(157, 142, 163);
  transition: text-shadow 400ms;
}

.gray, p {
  color: rgb(95, 92, 92);
  font-family: 'Raleway', sans-serif;
}

.fa-tree, .fa-mountain {
    color: rgb(95, 92, 92); 
}

.jumbotron {
  background-image: url("./ferns.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.banner_text {
  color: rgb(253, 247, 247);
  text-shadow: rgb(75, 75, 73);
  font-family: 'Dancing Script', cursive;
}
.gray_banner_text {
  font-family: 'Dancing Script', cursive;
  color: rgb(95, 92, 92);
}

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

#logo {
  width: 80px;
  padding-left: 10px;
  padding-top: 5px; 
  opacity: 1 !important;

  transition: scale .3s ease-out; 
}

#logo:hover {
  /* transform: scale(1.3); */
  transform: rotate(720deg) scale(1.2); 
  transition: .4s ease-out;
}

.modal {
  background-color: rgb(237, 252, 252);
  box-shadow: 2px 2px 7px gray;
  border-radius: 10px;
}

.modal-text {
  color: rgb(58, 57, 57);
  font-family: 'Raleway', sans-serif;
}

.modal-heading {
  color: rgb(58, 57, 57);
  font-family: 'Dancing Script', cursive;
}

.modal-close {
  color: purple)
}




